.doctor-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 3rem;
  padding: 1rem;
  border: 5px solid white;
  border-radius: 30px;
}

.doctor-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.doctor-card-infoName {
  float: left;
}

.doctor-card-infoSpeciality {
  float: left;
}

.user-image {
  width: 100px;
  height: 100px;
}


